/* ******************** */
/* common classes       */
/* ******************** */
    html, body {
        height: 100%;
    }

    .page_header {
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin-bottom: 50px;
        padding: 100px 0 50px;
        color: white;
    }

    .wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -50px;
    }

    .push {
        height: 50px;
    }

    .footer {
        background-color: #333333;
        color: #999999;
        height: 50px;
        padding-top: 15px;
    }

    .footer a {
        color: #9d9d9d;
    }

    .footer a:hover {
        color: #ffffff;
        text-decoration: none;
    }

/* ******************** */
/* login                */
/* ******************** */
    .login_body {
        background-image: url("https://farm1.staticflickr.com/661/22291175094_09e2838529_k.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .login_header img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .login_content {
        margin-top: 50px;
    }

    .login_content a {
        font-size: 24px;
        color: #666666;
    }

    .login_content a:hover {
        color: #2E8B57;
        text-decoration: none;
    }

/* ******************** */
/* items                */
/* ******************** */
    /* only appears on list_cities* */
    .city_item {
        margin: 35px;
    }

    /* only appears on show_city* */
    .city_activity_item {
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 50px;
    }

    .item_description {
        padding-bottom: 50px;
        font-size: 18px;
    }

    .item_bgimage {
        height: 200px;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .item img {
        height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .section_header {
        padding-bottom: 50px;
        font-size: 30px;
    }

    .n_section {
        background-color: #dddddd;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .user_options {
        padding-top: 50px;
        padding-bottom: 50px;
    }

/* ******************** */
/* show_activity        */
/* ******************** */
    .activity_basic_info_text {
        font-size: 16px;
    }

/* ******************** */
/* about                */
/* ******************** */
    .about_general {
        margin-bottom: 25px;
    }