html, body {
    height: 100%;
}

header {

}

.initial {
    background-image: url("https://farm1.staticflickr.com/661/22291175094_09e2838529_k.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

.city_item {
    margin: 35px;
}

h3 {
    vertical-align: middle;
}

.push {
    height: 4em;
}

.footer {
    background-color: #333333;
    color: lightblue;
    height: 4em;
}