html, body {
    height: 100%;
}

header {

}

.initial {
    background-image: url("https://farm1.staticflickr.com/661/22291175094_09e2838529_k.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.city_header {
  background-color: #808080;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
  padding: 100px 0 50px;
  color: white;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

.city_item {
    margin: 35px;
}

.activity_item {
    padding-left: 40px;
    padding-right: 40px;
}

img.city_header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

img.city_activity {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.push {
    height: 4em;
}

.footer {
    background-color: #333333;
    color: lightblue;
    height: 4em;
}