/* ******************** */
/* common classes       */
/* ******************** */
    html, body {
        height: 100%;
    }

    header {

    }

    .wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -50px;
    }

    .push {
        height: 50px;
    }

    .footer {
        background-color: #333333;
        color: lightblue;
        height: 50px;
        padding-top: 15px;
    }

/* ******************** */
/* login                */
/* ******************** */
.initial {
    background-image: url("https://farm1.staticflickr.com/661/22291175094_09e2838529_k.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* ******************** */
/* items on list_cities */
/* ******************** */
    .city_item {
        margin: 35px;
    }

    .city_item_bgimage, .city_activity_item_bgimage {
        height: 200px;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .city_item img {
        height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

/* ******************** */
/* city/activity common */
/* ******************** */
    .city_header, .activity_header {
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin-bottom: 50px;
        padding: 100px 0 50px;
        color: white;
    }

    .city_description, .activity_description {
        padding-bottom: 50px;
        font-size: 18px;
    }

    .city_flash_messages, .activity_flash_messages {

    }

    .city_activities_header, .activity_basic_info_header {
        padding-bottom: 50px;
        font-size: 30px;
    }

    .city_activities, .activity_basic_info {
        background-color: #dddddd;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .city_options, .activity_options {
        padding-top: 50px;
        padding-bottom: 50px;
    }


/* ******************** */
/* items on show_cities */
/* ******************** */
    .city_activity_item {
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 50px;
    }

    .city_activity_item img {
        height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

/* ******************** */
/* items on show_activity */
/* ******************** */
    .activity_basic_info_text {
        font-size: 16px;
    }