{% extends "base.html" %}
{% block title %}About{% endblock title %}

{% block header %}
    About
{% endblock header %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p>Made by Pooja Mathur</p>
            <p>For Project 3 of Udacity.com's Fullstack Web Developer Nanodegree</p>
            <p>Thanks to the following for additional resources:</p>
            <ul>
                <li>Images</li>
                <li>Code help</li>
            </ul>
        </div>
    </div>
{% endblock content %}