<!DOCTYPE html>
<html lang="en">
    <head>
        <!--LatestcompiledandminifiedCSS-->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
        <!--jQuerylibrary-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!--LatestcompiledJavaScript-->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
        <title> {% block title %}{% endblock title %} </title>
        {% block extend_head %}
        {% endblock extend_head%}
    </head>
    <body {% block body_attr %} {% endblock body_attr %}>
        <div class="wrapper">
            <nav class="navbar navbar-inverse">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav_bar_options">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand"href="{{url_for('login')}}"><img src="{{url_for('static', filename='logo_v2.png')}}" style="height: 25px;"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="nav_bar_options">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{url_for('list_cities')}}">Cities</a></li>
                            <li><a href="{{url_for('about')}}">About</a></li>
                            {% if 'username' not in session %}
                                <li><a href="{{url_for('login')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                            {% else %}
                                <li><a href="{{url_for('disconnect')}}">Logout</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>

            <header {% block header_attr %} {% endblock header_attr %}>
                {% block header %}
                {% endblock header %}
            </header>

            <div class="content">
                {% block content %}
                {% endblock content %}
            </div>
            <div class="push"></div>
        </div>

        <footer class="container-fluid text-center footer">
            <div class="row">
                <div class="col-xs-4">
                    <a href="{{url_for('list_cities')}}">Cities</a> .
                    <a href="{{url_for('about')}}">About</a>
                </div>
                <div class="col-xs-4">
                    <a href="{{url_for('login')}}"><img src="{{url_for('static', filename='logo_v2.png')}}" style="height: 25px;"></a>
                </div>
                <div class="col-xs-4">
                    <p>Made by Pooja</p>
                </div>
            </div>
        </footer>

        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>