{% extends "base.html" %}
{% block title %}Edit {{city.name}}?{% endblock title %}

{% block header %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                <h1>Edit {{city.name}}?</h1>
            </div>
        </div>
    </div>
{% endblock header %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8">

                <p>What would you like to change about this city?</p>

                <form class="form-horizontal" role="form" action="{{url_for('edit_city', city_id=city.id)}}" method="post">
                    <div class="form-group">
                        <label class="control-label col-xs-2" for="name">City Name:</label>
                        <div class="col-xs-10">
                            <input type="text" placeholder="{{city.name}}" class="form-control" id="name" name="name" maxlength="60">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2" for="state">State/Provence:</label>
                        <div class="col-xs-10">
                            <input type="text" placeholder="{{city.state_provence}}" class="form-control" id="state" name="state" maxlength="100">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2" for="country">Country:</label>
                        <div class="col-xs-10">
                            <select class="form-control" id="country" name="country">
                                <option>USA</option>
                                <option>Canada</option>
                                <option>Mexico</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2" for="description">Description:</label>
                        <div class="col-xs-10">
                            <textarea class="form-control" placeholder="{{city.description}}" rows="5" id="description" name="description" maxlength="1000"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2" for="image">Image URL: </label>
                        <div class="col-xs-10">
                            <input type="text" placeholder="{{city.image}}" class="form-control" id="image" name="image" maxlength="150">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                    <a class="btn btn-default" role="button" href="{{url_for('show_city', city_id=city.id)}}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}