
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="header">
        Edit {{activity.name}} for {{city.name}}?
    </div>
    <div class="body">
        <p>Something out of date?</p>
        <p>Thanks for your help!</p>

        <form action="{{url_for('edit_activity', city_id=city.id, activity_id=activity.id)}}" method="post">
            <p>Name: <input type="text" placeholder="{{activity.name}}" name="name"></p>
            <p>Description: <input type="text" placeholder="{{activity.description}}" name="description"></p>
            <p>Category: <input type="text" placeholder="{{activity.category}}" name="category"></p>
            <p>Website: <input type="text" placeholder="{{activity.website}}" name="website"></p>
            <p><input type="submit" value="Submit"></p>
        </form>
        <p><a href="{{url_for('show_activity', city_id=city.id, activity_id=activity.id)}}">Cancel</a></p>
    </div>
</body>
</html>