<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="header">
        Have an idea for a new activity for {{city.name}}?
    </div>
    <div class="body">
        <p>Thanks for your help!</p>

        <form action="{{url_for('new_activity', city_id=city.id)}}" method="POST">
            <p>Name: <input type="text" name="name"></p>
            <p>Category: <input type="text" name="category"></p>
            <p>Description: <input type="text" name="description"></p>
            <p><input type="submit" value="Submit"></p>
        </form>

        <p><a href="{{url_for('show_city', city_id=city.id)}}">Cancel</a></p>
    </div>
</body>
</html>