<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="header">
        City of {{city.name}}
    </div>
    <p class="warning">
        <p>Let's pretend I'm telling you something cool about this city.</p>

        <p>Wow, that was super interesting!</p>
        <p>I feel so informed now!</p>

        <p>Edit?</p>
        <p>Delete?</p>
        <p>Activities</p>

        <p><a href="{{url_for('list_cities')}}">back</a></p>
    </div>
</body>
</html>